<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

<div class="flex justify-center">
    <ul class="menu-1 flex px-3 rounded bg-gray-500">
        <li><a href="#" class="block px-10 py-2 font-bold hover:text-white hover:bg-black hover:underline">메뉴 아이템1</a></li>
        <li><a href="#" class="block px-10 py-2 font-bold hover:text-white hover:bg-black hover:underline">메뉴 아이템2</a></li>
        <li><a href="#" class="block px-10 py-2 font-bold hover:text-white hover:bg-black hover:underline">메뉴 아이템3</a></li>
    </ul>
</div>
</body>
</html>